spring:
  application:
    name: kitchen-worker
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5434/kitchen_worker_db}
    username: ${DB_USER:restaurant_user}
    password: ${DB_PASS:restaurant_pass}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  rabbitmq:
    host: ${RABBITMQ_HOST:localhost}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USER:guest}
    password: ${RABBITMQ_PASS:guest}
    listener:
      simple:
        retry:
          enabled: true
          initial-interval: 1000
          max-attempts: 3
          multiplier: 2.0
          max-interval: 10000

server:
  port: 8081

rabbitmq:
  exchange:
    name: order.exchange
  queue:
    name: order.placed.queue
  routing-key:
    order-placed: order.placed
  dlq:
    name: order.placed.dlq
    exchange: order.dlx
